---
layout: home
title: Home
---
{% for post in site.posts %}  
    <p class="font-page-post">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <small>Posted on <strong>{{ post.date | date: "%B %e, %Y" }}</strong> in <a href="/categories/#{% if post.category %}{{ post.category }}{% else %}derp{% endif %}-ref">{% if post.category %}{{ post.category }}{% else %}derp{% endif %}</a>.</small>
      <!--p>{{ post.content | strip_html | truncatewords: 50 }}</p-->
    </p>
    <hr />
{% endfor %}