---
layout: home
title: Home
---
  <div class="row">
  <br />
{% for post in paginator.posts %}
    <div class="col-lg-4 col-md-6 col-sm-12 front-block">
      <div class="thumbnail">
        <div class="caption">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <div class="row post-details">
            <span class="date"><i class="fa-clock fa"></i> {{ post.date | date: "%B %e, %Y" }}</span>
            <span class="comments"><i class="fa-comments-o fa"></i> <a href="{{ post.url }}#disqus_thread">Comments</a></span>
            <span class="permalink"><a href="{{ post.url }}">Permalink</a></span>
          </div>
          <p class="preview">{{ post.content | strip_html | truncatewords: 30 }}</p>
          <p><a href="{{ post.url }}" class="btn btn-primary btn-md">Read More</a></p>
        </div>
      </div>
    </div>
{% endfor %}
  </div>

{% if paginator.total_pages > 1 %}
<div class="row" align="center"> 
  <ul class="pagination" align="center">
    {% if paginator.previous_page %}
      <li class="prev"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a></li>
    {% else %}
      <li class="prev disabled"><span>&laquo; Newer</span></li>
    {% endif %}

        <li><a href="{{ '/archive.html' | prepend: site.baseurl | replace: '//', '/' }}">Archive</a></li>

    {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a></li>
    {% else %}
      <li class="next disabled"><span>Older &raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}