<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta name="google-site-verification" content="CuRwIbDP2wUjusIt3KgN5XY-ZSgkv4YNPv7szOVSouc" />
  
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Some stupid SEO stuff -->
  <meta name="description" content="Mike Mackintosh writes down so many awesome things, you are guaranteed to learn something new by reading some of his articles.">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <link rel=”author” href=”https://twitter.com/mikemackintosh“/>
  <meta name=”twitter:card” content=”summary”>
  
  <!-- title stuff -->
  {% if page.title == "Home" %}
  <meta name=”twitter:title” content=”{{ site.title }}”>  
  <title>{{ site.title }} &middot; {{ site.tagline }}</title>
  {% else %}
  <meta name=”twitter:title” content=”{{ page.title }}”>  
  <title>{{ page.title }} &middot; {{ site.title }}</title>
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
