---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row post-full">
  <div class="col-md-12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

    {% unless page.categories == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-folder-open"></i></li>
        {% assign categories_list = page.categories %}
        {% include categories_list.html %}
      </ul>
    {% endunless %}

    {% unless page.tags == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include tags_list.html %}
      </ul>
    {% endunless %}

    <hr>
    
    <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="/{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="/archive">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="/{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}a
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
    </ul>
    <hr>
{% include comments.html %}
  </div>
</div>

{% if site.related_posts %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

